.App {
  text-align: center;
}

.Board{
  margin: 0 auto;
}

h2{
  margin: 0;

}

.title-div{
  display: flex;
  align-items: center;
  justify-content: center;
}


.Cell{
  background: #444;
  height: 50px;
  width: 50px;
}

.Cell-lit{
  background: lime;
}

.board-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}